@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

$Violet: hsl(257, 40%, 49%);
$softMagenta: hsl(300, 69%, 71%);
$softViolet-p: #e9dcec;

$desktop-design: "(min-width: 87.5rem)";

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $Violet;
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Open Sans', sans-serif;
    @media #{$desktop-design}{
        background-image: url(../images/bg-desktop.svg);
        background-size: cover;
        background-size: unset;
    } 
}

.main-container{
    width: 37.5rem;
    height: 79rem;
    margin: 4.6875rem auto 0;
    @media #{$desktop-design}{
        display: flex;
        width:80.125rem;
        height: 41.5rem;
    }     
}

.cover{
    width: 100%;
    height: 37.5rem;
    @media #{$desktop-design}{
        width: 43.75rem;
        height: 100%;
    }
}

.cover__logo{
    width: 15rem;
    height: 3.125rem;
    margin-bottom: 7.625rem;
    @media #{$desktop-design}{
        width: 12.6875rem;
        height: 2.375rem;
        margin-bottom: 6.625rem;
    }
}
.cover__mockups{
    width: 100%;
    height: 26.4375rem;
    @media #{$desktop-design}{
        width: 100%;
        height: 30.9375rem;
    }
}

.description{
    margin: 8.5rem auto 4.125rem;
    width: 33.125rem;
    text-align: center;
    color: white;
    @media #{$desktop-design}{
        width: 36.375rem;
        margin: 12.0625rem auto 0;
        text-align: left;
        padding: 0 1.25rem 0 2.25rem;
    }
}

.description__title{
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1.5625rem;
    @media #{$desktop-design}{
        width: 33.3125rem;
        margin-bottom: 1.0625rem;
    }
}
.description__paragraph{
    font-size: 1.625rem;
    letter-spacing: .05625rem;
    color: $softViolet-p;
    margin-bottom: 3.125rem;
    @media #{$desktop-design}{
        font-size: 1.25rem;
        letter-spacing: -0.05625rem;
        margin-bottom: 1.25rem;
    }
}
.description__register-button{
    width: 25.375rem;
    height: 5.125rem;
    border-radius: 3.125rem;
    border: none;
    font-size: 1.25rem;
    color: rgba(137,121,183,255);
    background-color: #fff;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    &:hover{
        cursor: pointer;
        background-color: $softMagenta;
        color: #fff;
    }
    @media #{$desktop-design}{
        width: 12.625rem;
        height: 3.625rem;
        font-size: 1.0625rem;
    }
}

.footer-container{
    width: 37.5rem;
    margin: 0 auto;
    text-align: center;
    color: $softViolet-p;
    font-weight: 600;
    @media #{$desktop-design}{
        width: 80.125rem;
        height: 3.75rem;
    }
}

.footer__social-icons-container{
    height: 3.875rem;
    display: flex;
    justify-content:center;
    margin: 3.5625rem 0 3.5rem;
    align-items: center;
    gap: 1.5rem;
    @media #{$desktop-design}{
        height: 100%;
        margin: 0;
        justify-content: end;
        margin: -1.125rem;
        gap: .875rem;
    }
}

.icon{
    width: 3.4375rem;
    height:3.4375rem;
    border-radius: 50%;
    border: .0625rem solid #fff;
    padding: .625rem;
    fill: #fff;
    &:hover{
        fill: $softMagenta;
        border-color: $softMagenta;
            }
    @media #{$desktop-design}{
        width: 2.5rem;
        height: 2.5rem;
        padding: .5rem;
    }
}
.footer__attribution{
    margin-top: -2.5rem;
}
.footer__attribution__link{
    color: $softViolet-p;
    text-decoration: none;
} 



